.budgets-index-container {
  width: 90%;
  margin: 0 auto;

  h1 {
    font-size: 24pt;
    margin-bottom: 0;
  }
}

.budget-category-cards-container {
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  height: 35rem;
  margin-top: 2rem;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
}

.budget-category-cards-container::-webkit-scrollbar {
  display: none;
}


.categories-header-container {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD84B;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 9px 10px -4px rgba(0,0,0,0.1);
  h1 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.budget-cards-container {
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  height: 35rem;
  padding: 0 0.5rem;
  margin-top: 2rem;
  padding-top: 0.5rem;
}

.budget-cards-container::-webkit-scrollbar {
  display: none;
}

.budget-category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  height: 7.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-bottom: 6px;

    a {
      margin-bottom: 0.5rem;
    }
  }


  a {
    text-decoration: none;
    color: black;
  }


.category-budgets-index-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  margin: 0 auto;
  width: 90%;

  h1 {
    margin-bottom: 0;
  }

  a {
    color: black;
    font-size: 24pt;
  }
}

.budgets-show-header-top {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;

  a {
    font-size: 18pt;
  }
}

.budgets-show-header {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}
