// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rubik:ital,wght@0,300;1,300&display=swap');
.top-message-section {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD84B;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 9px 10px -4px rgba(0,0,0,0.1);
}

.container-home {
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5rem;
  height: 37rem;
  overflow-y: scroll;
}

.container-home::-webkit-scrollbar {
  display: none;
}

.home-avatar-greeting {
  display: flex;
  width: 80%;
  margin-top: 2rem;
}

.home-greeting {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1 {
    margin-bottom: 0;
  }
}

.top-message-section img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius:50%;
  margin-right: 10px;
  margin-left: 10px
}

.top-message-section h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.top-message-section p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.top-message-section .greeting {
  padding: 10px;
}

.graph-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  img {
    width: 80%;
  }
}

.transactions-section h4{
  text-align: center;
  margin: 20px 0px;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  font-variant: small-caps;
  font-family: 'Rubik', sans-serif;
}

.recent-transactions{
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
}

.recent-transaction-card{
  display:flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid black ;
  margin-bottom: 22px;
  padding: 8px;

  h2 {
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
  }
}
.recent-transaction-card h2{
  font-family: 'Rubik', sans-serif;
  font-weight:bolder;
}

.recent-transaction-info{

  p, h2 {
    margin: 0px;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    color: grey;
  }
}

.chart-cards-section {
  display: flex;
  // border: 1px solid red;
  margin-top: 1.5rem;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 2rem;
}

.chart-cards-section::-webkit-scrollbar {
  display: none;
}

.chart-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF8DE;
  border-radius: 15px;
  height: auto;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,0.1);
}


.container {
  // background-color:#FFD84B;
  // background: linear-gradient(white,#FFD84B);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chart-card-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #6ABBFF;
  border-radius: 15px;
  height: auto;
  padding: 30px;
  box-shadow: 11px 11px 17px -14px rgba(124,123,123,1);
  p {
    margin-bottom: 0;
    font-size: larger;
  }
}

.toggle-buttons {
  display: flex;
  // border: 1px solid red;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.toggle-button {
  background-color: #ffffff;
  border: 2px solid #FFD84B;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 10px;}

.toggle-button-active {
  background-color: #FFD84B;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 10px;
}

// .month-button {
//   margin-top: 1rem;
//   background-color: #FFD84B;
//   padding: 20px;
//   border-radius: 35%;
//   opacity: 0.8
// }

// .year-button {
//   margin-right: 25px;
//   margin-top: 1rem;
//   background-color: #FFD84B;
//   padding: 20px;
//   border-radius: 35%;
//   opacity: 0.8
// }
