// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rubik:ital,wght@0,300;1,300&display=swap');
.top-message-section {
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
}

.top-message-section img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius:50%;
}

.top-message-section h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.top-message-section p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.top-message-section .greeting {
  padding: 10px;
}

.graph-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  img {
    width: 80%;
  }
}

.transactions-section h4{
  text-align: center;
  margin: 20px 0px;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  font-variant: small-caps;
  font-family: 'Rubik', sans-serif;
}

.recent-transactions{
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
}

.recent-transaction-card{
  display:flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid black ;
  margin-bottom: 22px;
  padding: 8px;

  h2 {
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
  }
}
.recent-transaction-card h2{
  font-family: 'Rubik', sans-serif;
  font-weight:bolder;
}

.recent-transaction-info{

  p, h2 {
    margin: 0px;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    color: grey;
  }
}
.chart-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  height: auto;
  padding: 30px;
  margin-bottom: 20px;
  margin: 20px
}

.chart-cards-section {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.test-area {
  height: 800px;
  margin-top: 80px;
}
