.new-expense-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;

  h1 {
    font-size: 24pt;
    margin-bottom: 0px;
  }
}

.new-expense-buttons-container {
  display: flex;
}

.new-expense-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  a {
    color: black;
    font-size: 24pt;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 60px;
  }
}

.add-buttons {
 display:flex;
 align-items: center;
 justify-content: center;
}
