<div class="budgets-index-container">
  <div class="category-budgets-index-header">
    <h1 class="text-center">YOUR BUDGETS</h1>
    <%= link_to new_budget_path do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>

  <% if @budgets.empty? %>
    <p>No budgets found</p>
  <% else %>
    <div class="budget-category-cards-container">
      <% @budgets.each do |budget| %>
        <div class="budget-category-card">
          <%= link_to budget.name, budget %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
