<div class="index-yellow-header">
  <div class="category-budgets-index-header">
    <h1 class="text-center">YOUR BUDGETS</h1>
    <%= link_to new_budget_path do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>
<div class="budgets-index-container">

  <% if @budgets.empty? %>
    <p>No budgets found</p>
  <% else %>
    <div class="budget-category-cards-container">
      <% @budgets.each do |budget| %>
        <div class="budget-category-card">
          <%= link_to budget.name, budget %>
          <% start_date = 1.month.ago.beginning_of_day %>
          <% end_date = Time.current.end_of_day %>
          <% monthly_expenses_total = 0 %>
          <% budget.expenses.each do |expense| %>
            <% if expense.date >= start_date && expense.date <= end_date %>
              <% monthly_expenses_total += expense.amount %>
            <% end %>
          <% end %>
          <% expenses_as_percentage_of_budget = (monthly_expenses_total/budget.amount) * 100 %>
          <div class="w-75">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= expenses_as_percentage_of_budget%>%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><%= expenses_as_percentage_of_budget.floor %>%</div>
            </div>
          </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
