<div class="new-expense-container">
  <div class="new-expense-header">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h1>ADD AN EXPENSE</h1>
  </div>
  <%= render 'form', expense: @expense %>
</div>
